/* универсальный селектор */
/* рекомендуется не использовать тип селектора */
* {
    margin: 0;
}

/* селектор по тегу (по типу элемента) */
body {
    /* 1 значение */
    /* margin: 20px; */
    /* 2 значение: 1 знач - верхний и нижний, 2 знач - левый и правый */
    /* margin: 5px 20px; */
    /* 3 значения: 1 знач - верхний, 2 знач - правый и левый, 3 знач - нижний  */
    /* margin: 5px 15px 25px; */
    /* 4 значения: 1 знач - верхний, 2 знач - правый, 3 знач - нижний, 4 знач - левый- */
    margin: 5px 15px 25px 35px;
}
/* селектор по классу */
.content_1 { 
    border-color: darkmagenta;
}
.cls_1 { 
    border-width: 5px;
}

/* селектор по индентификатору */
#link_for_google {
    background-color: magenta;
}

.nav {
    padding: 20px 0;
    text-align: center;
}

/* комбинированные селекторы */
/* селектор элемента-потомка (комбинатор - "" (пробел))*/
.nav h3 {
    display: inline;
    color: red;
}
/* селектор дочернего элемента */
.nav>a {
    margin: 0 10px;
       text-decoration: none;
}

/* псевдокласс для наведения курсора */

.nav h3:hover {
    color: green;
}

/* псевдоэлемент */
.nav>a::after {
    content: "|";
    color: blue;
    font-size: xx-large;
}