<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header> 
        <div class="logo">
            <h1>Header</h1>
        </div>
        <div class="nav">
           <ul class="navbar">
               <li class="btn">Home</li>
               <li class="btn">Product</li>
               <li class="btn">Contact</li>
           </ul>>a
        </div>
        <h1>Header</h1>
    </header>
    <main>
        <h1>Main content</h1>
    </main>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
</html>